@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    overflow: hidden;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais img {
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: scale(130%);
    box-shadow: 5px 5px 10px black;
    transition: transform .4s, border 1s;
}

section#redes-sociais img:active {
    transform: scale(200%);
}

section#redes-sociais img:visited {
    background-image: rgba(0, 0, 0, 0.349);
}

section#redes-sociais {
    position: relative;
    text-align: center;
    top: 79%;
}